
.top-nav,
.top-nav nav .button {
  background: var(--primary);
  color: var(--on-primary) !important;
}
.top-nav {
  box-shadow: 0 1px 5px #15142e0d, 0 4px 16px #15142e1a;
  height: 60px;
}
body {
  --primary-container: "#ffffff"!important;
}
:root,
:root:has(.top-nav.at-top) {
  --vp-nav-height: 60px !important;
}


.VPPage h1, h2, h3, h4, a {
  color: var(--secondary)
}

/**
* Trying to make the eox pages default footer as small as possible
 */

.large-space:not(nav,.row,.grid,table,.tooltip,.list,menu) {
  display:none;
}

div.holder.large-padding {
  padding:0!important;
}
div.grid {
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem; 
}
div.grid.large-line > div > p {
  margin-top: 0rem; 
  margin-bottom: 0rem;
}

img.logo {
  height: 56px;
}
